<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>REGISTER </h1>
    <p>
        <% errorRegister?.split(",").forEach((el)=>{%>
            <p style="color: red;"><%= el %></p>
        <%}) %>
    </p>
    
       
       
     
    
    <form action="/register" method="post">
        <p>username</p>
        <input type="text" name="username">
        <p>password</p>
        <input type="password" name="password">
        <p>email</p>
        <input type="text" name="email">
        <br><br>

        <input type="submit" value="submit">
    </form>
    <br>
    <button><a href="/login">Login Here</a></button>

</body>
</html>